@model IEnumerable<DiamondInfo>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th scope="col">@Html.DisplayNameFor(d => d.Shape)</th>
            <th scope="col">@Html.DisplayNameFor(d => d.PriceInDirhams)</th>
            <th scope="col">@Html.DisplayNameFor(d => d.WeightInCarats)</th>
            <th scope="col">@Html.DisplayNameFor(d => d.Cut)</th>
            <th scope="col">@Html.DisplayNameFor(d => d.Color)</th>
            <th scope="col">@Html.DisplayNameFor(d => d.Clarity)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var diamond in Model)
        {
            <partial name="_Diamond" model="diamond" />
        }
    </tbody>
</table>
