@model DiamondInfo

<tr>
    <td>@Html.DisplayFor(d => d.Shape)</td>
    <td>@Html.DisplayFor(d => d.PriceInDirhams)</td>
    <td>@Html.DisplayFor(d => d.WeightInCarats)</td>
    <td>@Html.DisplayFor(d => d.Cut)</td>
    <td>@Html.DisplayFor(d => d.Color)</td>
    <td>@Html.DisplayFor(d => d.Clarity)</td>        
</tr>