@model DiamondInfo

<h2>Diamond Inventory Filters</h2>
<div class="row">
    <div class="col form-group">
        <label class="control-label">@Html.DisplayNameFor(d => d.Shape) (Icons Not Implemented)</label>
        <select class="form-control">
            @foreach (DiamondShape shape in Enum.GetValues(typeof(DiamondShape)))
            {
                <option>@shape.GetDisplayName()</option>
            }
        </select>
    </div>
    <div class="col form-group">
        <label class="control-label">@Html.DisplayNameFor(d => d.PriceInDirhams) (Range Slider Not Implemented)</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Min / Max</span>
            </div>
            <input type="text" value="@Html.DisplayFor(d => d.PriceInDirhams)" class="form-control">
            <input type="text" value="@Html.DisplayFor(d => d.PriceInDirhams)" class="form-control">
        </div>
    </div>
    <div class="col form-group">
        <label class="control-label">@Html.DisplayNameFor(d => d.WeightInCarats) (Range Slider Not Implemented)</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Min / Max</span>
            </div>
            <input type="text" value="@Html.DisplayFor(d => d.WeightInCarats)" class="form-control">
            <input type="text" value="@Html.DisplayFor(d => d.WeightInCarats)" class="form-control">
        </div>
    </div>
</div>
<div class="row">
    <div class="col form-group">
        <label asp-for="Cut" class="control-label"></label>
        <select class="form-control">
            @foreach (DiamondCut cut in Enum.GetValues(typeof(DiamondCut)))
            {
                <option>@cut.GetDisplayName()</option>
            }
        </select>
    </div>
    <div class="col form-group">
        <label asp-for="Color" class="control-label"></label>
        <select class="form-control">
            @foreach (DiamondColor grade in Enum.GetValues(typeof(DiamondColor)))
            {
                if ((int)grade <= (int)DiamondColor.M)
                {
                    <option>@grade</option>
                }
                else
                {
                    <option disabled>@grade</option>
                }
            }
        </select>
    </div>
    <div class="col form-group">
        <label asp-for="Clarity" class="control-label"></label>
        <select class="form-control">
            @foreach (DiamondClarity grade in Enum.GetValues(typeof(DiamondClarity)))
            {
                <option>@grade</option>
            }
        </select>
    </div>
</div>
