@model DiamondInfo

<tr>
    <td>@Html.DisplayFor(d => d.WeightInCarats) ct</td>
    <td>@Html.DisplayFor(d => d.Color)</td>
    <td>@Html.DisplayFor(d => d.Clarity)</td>
    <td>@Html.DisplayFor(d => d.Shape)</td>
    <td class="text-right">@Html.DisplayFor(d => d.PriceInDirhams) AED</td>
</tr>